html, body {
	background: #eee;
}

h1, h2, h3, h4, h5, p, a {
	color: #222;
}

a {
	color: #333;
}

a:hover {
	color: #555;
}

div#dragbox {
	width: 400px;
	height: 200px;
	border: 1px solid #444;
	border-radius: 6px;
	background: #ddd;
}
div#dragbox.activated {
	border: 1px solid #4a4;
	background: #dfd;
}
div#dragbox.error {
	border: 1px solid #a44;
	background: #fdd;
}
div#dragbox #dragmessage {
	color: #222;
}
div#dragbox.activated #dragmessage {
	color: #262;
}
div#dragbox.error #dragmessage {
	color: #822;
}

.hidden {
	display: none;
}